In [71]:
import pandas as pd

df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84',header=0,index_col=0)


summer = df[0].iloc[:,:5]
summer.columns = ['경기수','금','은','동','계']
#print(summer.sort_values('금',ascending=False))
#summer.to_excel('하계올림픽메달.xlsx')
summer.head()

                     경기수   금   은   동   계
국가 (IOC 코드)
아프가니스탄 (AFG)          14   0   0   2   2
알제리 (ALG)             13   5   4   8  17
아르헨티나 (ARG)           24  21  25  28  74
아르메니아 (ARM)            6   2   6   6  14
오스트랄라시아 (ANZ) [ANZ]    2   3   4   5  12

In [ ]:
import pandas as pd
import numpy as np

index = pd.date_range('1/1/2000',periods = 8)
df = pd.DataFrame(np.random.rand(8,3),index = index, columns = list('ABC'))
df['D'] = df['A']/df['B']
df['E'] = np.sum(df,axis=1)
df = df.sub(df['A'],axis=0)
df.head()
#df.to_csv('test.csv')

#print(df)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv('age.csv',encoding='cp949',index_col=0)

df = df.div(df['총인구수'],axis = 0)
del df['총인구수'],df['연령구간인구수']


name = input('원하는 지역의 이름을 입력해주세요 : ')
a = df.index.str.contains(name)
df2 = df[a]

plt.rc('font',family = 'Malgun Gothic')
plt.style.use('ggplot')
df2.T.plot()
plt.show()


x = df.sub(df2.iloc[0],axis=1)
y = np.power(x,2)
z = y.sum(axis=1)
i = z.sort_values().index[:5]

df.loc[i].T.plot()
plt.show()

plt.style.use('dark_background')
df.loc[np.power(df.sub(df2.iloc[0],axis=1),2).sum(axis=1).sort_values().index[:5]].T.plot()
plt.show()


df2.head()